.body {
    background: #fafafa;
}

.sub {
    margin-bottom: 30px;
}
.formulario {
    max-width: 600px;
    margin: auto;
    margin-top: 35px;
    background: #fff;
    padding: 20px;
    border: 1px solid #b8b8b8;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 15%);
}

#requerido {
    color:red;
    font-weight: 500;
}

#subtitulos {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

#nombre {
    box-shadow: none;
    font-weight: 400;
    border: none;
    border-radius: 0%;
    border-bottom: 2px solid #BDBDBD;
    background: #fafafa;
    padding: 10px;
}

#nombre:focus {
    transition:  all 0.3s;
    border-color:#045FB4;
}

#apellido {

    box-shadow: none;
    font-weight: 400;
    border: none;
    border-radius: 0%;
    border-bottom: 2px solid #BDBDBD;
    background: #fafafa;
    padding: 10px;
}

#apellido:focus {
    transition:  all 0.3s;
    border-color:#045FB4;
}

#email {
    box-shadow: none;
    font-weight: 400;
    border: none;
    border-radius: 0%;
    border-bottom: 2px solid #BDBDBD;
    background: #fafafa;
    padding: 10px;
}

#email:focus {
    transition:  all 0.3s;
    border-color:#045FB4;
}


#rut {
    box-shadow: none;
    font-weight: 400;
    border: none;
    border-radius: 0%;
    border-bottom: 2px solid #BDBDBD;
    background: #fafafa;
    padding: 10px;
}

#rut:focus {
    transition:  all 0.3s;
    border-color:#045FB4;
}

#telefono {
    box-shadow: none;
    font-weight: 400;
    border: none;
    border-radius: 0%;
    border-bottom: 2px solid #BDBDBD;
    background: #fafafa;
    padding: 10px;
}

#telefono:focus {
    transition:  all 0.3s;
    border-color:#045FB4;
}

#btn_guardar {
    background: #FF4000;
    border: none;
    color: #fff;
    width: 50%;
    margin: auto;
    margin-top: 15px;
    box-shadow: none;
}

#btn_guardar:hover {
    transition: all 0.3s;
    box-shadow: 2px 2px 3px gray;
}

@media(max-width:768px) {
    #btn_guardar {
        width: 80%;
    }
}
/** btn editar trabajador */

#sub {
    margin-bottom: 15px;
}

#btn_cambios{
    background: #FF4000;
    border: none;
    color: #fff;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    box-shadow: none;
}

#btn_cambios:hover {
    transition: all 0.3s;
    box-shadow: 2px 2px 3px gray;
}

@media(max-width:768px) {
    #btn_cambios {
        width: 80%;
    }
}

#alerta {
    margin: auto;
    border-radius: 0%;
    margin-bottom: 0%;
}

@media(max-width:768px) {
    #alerta {
       font-size: 14px;
    }
    
}


#btn_close {
    border: none;
    background: transparent;
    box-shadow: none;
    outline-style: none;
 
}
