/** reset form */

.reset_form {
    width: 600px;
    margin: auto;
    margin-top: 70px;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 15%);
}

@media(max-width:768px) {
    .reset_form {
        width: 98%;
    }
}

#id_email{
    background: #f2f2f2;
    border: 2px solid transparent;
    margin-top: 10px;
}

#id_email:hover {
    transition: all 0.3s;
    border: 2px solid #bbb;
    background: transparent;
}

#id_email:focus {
    border: 2px solid #bbb;
    background: transparent;
}

#btn_enviar {
    width: 70%;
    display: block; 
    margin: auto;
    margin-bottom: 15px;
}

#login {
    text-align: center;
    color: #0174DF;
}

#login:hover{
    text-decoration: underline;
}

/** reset done */

.done {
    width: 600px;
    margin: auto;
    margin-top: 70px;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 15%);
}

@media(max-width:768px) {
    .done {
        width: 95%;
    }
}

#btn_password {
    width: 50%;
    display: block; 
    margin: auto;
   
}