.body {
    background: url("/static/img/reserva.jpg") no-repeat center top;
}

.formulario {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background: #fff;
    border: 1px solid #8b8b8b;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 15%);
}


#btn_reservar {
    width: 50%;
    margin: auto;
    display: block;
    border: none;
    color: #fff;
    background: #FF4000;
    font-weight: 500;
    box-shadow: none;
}

#btn_reservar:hover {
    box-shadow: 2px 2px 3px gray;
}

@media(max-width:768px) {
    .formulario {
        margin-top: 20px;
        width: 95%;
        
    }
}

#cajas_datos{ 
    margin-bottom: 15px;
}

#titulos{
    margin-bottom: 15px;
    color: #0B4C5F;
}

#nombre {
    margin-right: 1px;
    box-shadow: none;
    background: #D8D8D8;
    border: 2px solid transparent;
    font-weight: normal;
}

#nombre:hover {
    transition: all 0.3s;
    background: #fff;
    border-color: #D8D8D8;
}

#nombre:focus {
    transform: 0.3s;
    border-color: #BDBDBD;
    background: #fff;

}
#apellido {
    margin-left: 1px;
    box-shadow: none;
    background: #D8D8D8;
    border: 2px solid transparent;
    font-weight: normal;
}

#apellido:hover {
    transition: all 0.3s;
    background: #fff;
    border-color: #D8D8D8;
}

#apellido:focus {
    transform: 0.3s;
    border-color: #BDBDBD;
    background: #fff;

}

#rut {
    box-shadow: none;
    background: #D8D8D8;
    border: 2px solid transparent;
    font-weight: normal;
}

#rut:hover {
    transition: all 0.3s;
    background: #fff;
    border-color: #D8D8D8;
}

#rut:focus {
    transform: 0.3s;
    border-color: #BDBDBD;
    background: #fff;

}

#fechas {
    box-shadow: none;
    background: #D8D8D8;
    border: 2px solid transparent;
    font-weight: normal;
}

#fechas:hover {
    transition: all 0.3s;
    background: #fff;
    border-color: #D8D8D8;
}

#fechas:focus {
    transform: 0.3s;
    border-color: #BDBDBD;
    background: #fff;

}

#mensaje{
    box-shadow: none;
    background: #D8D8D8;
    border: 2px solid transparent;
    font-weight: normal;
    resize: none;
}

#mensaje:hover {
    transition: all 0.3s;
    background: #fff;
    border-color: #D8D8D8;
}

#mensaje:focus {
    transform: 0.3s;
    border-color: #BDBDBD;
    background: #fff;

}

