<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load crispy_forms_tags %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/reset_password.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    
</head>
<body style="background: #f2f2f2;">

<div class="container">
    {% block content %}
    
    <form  method="post" class="reset_form">
        <h1>Olvidaste tú Contraseña ?</h1>
        <p>Ingresa tú email para poder recuperar tú contraseña.</p>
        {{ form|crispy }}
        <p>
            <input type="submit" value="Enviar" class="btn btn-primary" id="btn_enviar">
        </p>
        <div class="container" style="text-align: center;">
            <span >Recordé mi contraseña | </span><a href="/login" id="login">Iniciar Sesión</a>
        </div>
        {% csrf_token %}
    </form>
    {% endblock %}
</div>
    
</body>
</html>