<!DOCTYPE html>
<html lang="en">
<head>
    {% load crispy_forms_tags %}
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/reset_password.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostal "Doña Clarita"</title>
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    
</head>
<body>


    {% block content %}
    
    {% if validlink %}
<div class="container">
    <form method="post" class="reset_form">
        <h1>Nueva Contraseña</h1>
        <p>Por favor ingresa tú nueva contraseña:</p>
        {{ form|crispy }}
        {% csrf_token %}
        <p>
         <input type="submit" value="Cambiar mi contraseña" class="btn btn-primary" id="btn_password" />
        </p>
    </form>
</div>


    {% else %}
<div class="done">
    <h1>Nueva Contraseña</h1>
    <p>ENLACE INVÁLIDO : ESTE ENALCE YA HA SIDO UTILIZADO.</p>
    
    {% endif %}
</div>
    {% endblock %}

    
</body>
</html>